# Object files (to be removed)
obj/*

# Binary files (to be removed)
bin/*

# Perf profiler files
perf*

# Coz profiler files
profile.coz

# Log and result files (TBD, may relocate)
log*.txt
results/*

# Build directory
build/*

# VSCode directory
.vscode

# Cargo automatic output, this is a library so ignore
Cargo.lock

# Cargo output directory
rust_src/target
